<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gestor_Desempeno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"> <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" /> <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
	  <authentication mode="Forms">
		  <forms loginUrl="~/Login.aspx" timeout="2880" name=".ASPXAUTH_GESTOR_DESEMPENO"/>
	  </authentication>
	  <authorization>
		  <deny users="?" />
	  </authorization>
  </system.web>

	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgotPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="CambiarContrasena.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Fotos">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
		
		
	</location>
	
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=server-bd;Database=SEGURIDAD_SIIT;User ID=inventariop;Password=12345;"
         providerName="System.Data.SqlClient"/>
    <add name="ObjetivosConnection"
         connectionString="Server=server-bd;Database=Objetivos_Metas;User ID=inventariop;Password=12345;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ActiveDirectoryDomain" value="mcurridabat.net" />
    <add key="Usuario" value="ad2020"/>
    <add key="Clave" value="123456"/>
    <add key="Archivador" value="Recursos Humanos"/>
    <add key="Gaveta" value="Desempeno"/>
    <add key="Llave" value="Id_Delphos"/>
  </appSettings>

  <applicationSettings>
    <Gestor_Desempeno.Properties.Settings>
      <setting name="Gestor_Desempeno_CorreoServiceReference_WebService1"
        serializeAs="String">
        <value>http://server-iis/wsCorreo/WebService1.asmx</value>
      </setting>
      <setting name="Gestor_Desempeno_apivs2020_wsapi" serializeAs="String">
        <value>http://api-vs2020.curridabat.go.cr:61248/wsapi.asmx</value>
      </setting>
      <setting name="Gestor_Desempeno_wsRRHH_WS_RecursosHumanos" serializeAs="String">
        <value>http://gestiones-administrativas.curridabat.go.cr/WS-RecursosHumanos.asmx</value>
      </setting>
    </Gestor_Desempeno.Properties.Settings>
  </applicationSettings>

  </configuration>